body {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
  background-size: cover;
}

#image {
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 20px;
}

h2 {
  padding-left: 30px;
}
h3 {
  padding-left: 40px;
}
p {
  margin-left: 20px;
}
#logo {
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAqJhlnelhh23e5Kv0P4fvArZpoIFghdZcznkNDLllyN21WfA2Kx1z0ivOb-6Qio93aTE&usqp=CAU");
  background-repeat: repeat;
}
