body {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
  background-size: cover;
}

#image {
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 20px;
}

h2 {
  padding-left: 30px;
}
h3 {
  padding-left: 40px;
}
p {
  margin-left: 20px;
}
#logo {
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  background-image: url("https://i.etsystatic.com/14994665/r/il/6bb7fc/2609034256/il_fullxfull.2609034256_eo08.jpg");
  background-repeat: repeat;
}

#bottom {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
}

#bottomimage {
  border: 1px solid black;
  box-sizing: border-box;
}

.chatroomContent {
  margin: auto;
  text-align: center;
}