body {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 1em;
}

#goBackButton {
  margin-top: 20px;
  margin-left: 15px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-darker {
  border: 2px solid #dedede;
  background-color: darkgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.time-right {
  float: right;
  color: #aaa;
}
button {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #0069d9;
}
#chatborder {
  border-style: solid;
  background-color: #d2d899;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

#sendText {
  text-align: right;
}

.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAqJhlnelhh23e5Kv0P4fvArZpoIFghdZcznkNDLllyN21WfA2Kx1z0ivOb-6Qio93aTE&usqp=CAU");
  background-repeat: repeat;
}

#logo {
  font-family: "Courier New", Courier, monospace;
}

#messagesUL {
  list-style: none;
}

#userCount {
  font-weight: bold;
}

#totalUsers {
  text-align: center;
  font-size: larger;
}
