body {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
  background-size: cover;
}

#image {
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 20px;
}

h2 {
  padding-left: 30px;
}
h3 {
  padding-left: 40px;
}
p {
  margin-left: 20px;
}
