body {
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 1em;
}

#goBackButton {
  margin-top: 20px;
  margin-left: 15px;
}

.container {
  border: 2px solid #dedede;
  background-color: #e0e4c2;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container img {
  float: left;
  max-width: 60px;
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.container-darker {
  border: 2px solid #dedede;
  background-color: darkgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.time-right {
  float: right;
  color: #aaa;
}

#chatborder {
  border-style: solid;
  background-color: #d2d899;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

#sendText {
  text-align: right;
}

.navbar {
  background-image: url("https://i.etsystatic.com/14994665/r/il/6bb7fc/2609034256/il_fullxfull.2609034256_eo08.jpg");
  background-repeat: repeat;
}

#logo {
  font-family: "Courier New", Courier, monospace;
}

#messagesUL {
  list-style: none;
}

#userCount {
  font-weight: bold;
}

#totalUsers {
  text-align: center;
  font-size: larger;
}
