* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  background-color: rgba(215, 168, 207, 0.367);
}

.login {
  width: 360px;
  height: min-content;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 12px;
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
}

.form-label {
  margin-top: 5px;
  margin-bottom: 8px;
}


#logo {
    font-family: "Courier New", Courier, monospace;
  }
  
  h5 {
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
  }

  h3 {
    font-family: 'Bebas Neue'
  }