body {
  font-family: Arial, sans-serif;
  background-image: url("https://image.slidesdocs.com/responsive-images/background/business-film-pastel-yellow-abstract-soft-powerpoint-background_6ba43e6878__960_540.jpg");
  background-size: cover;
}

.card {
  margin: auto;
  margin-top: 35px;
  align-items: center;
}

.navbar {
  background-image: url("https://i.etsystatic.com/14994665/r/il/6bb7fc/2609034256/il_fullxfull.2609034256_eo08.jpg");
  background-repeat: repeat;
}
