<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SOUNDPROOF</h1>
    <br>
    {{errorMessage}}

    <h1>REGISTER</h1>
    <form method = "POST" action = "/register-user">
    <input type = "text" name = "username" placeholder = "username">
    <input type = "password" name = "password">
    <button>Register</button>
    </form>  
    <br>

    <h1>LOG IN</h1>
    <form method = "POST" action = "/login">
    <input type = "text" name = "username" placeholder = "username">
    <input type = "password" name = "password">
    <button>Log In</button>
    </form>

</body>
</html>